<nav class="fixed top-0 w-full z-40 bg-white/90 backdrop-blur-md border-b border-gray-100 h-20 flex justify-between items-center px-6">

    <div id="home-logo-link" class="font-studio text-xl cursor-pointer z-50">STUDIO SCHIZZO</div>

    <button class="mobile-menu-button z-50 p-2 focus:outline-none group" aria-label="Abrir menu">

      <div class="w-6 h-0.5 bg-black mb-1.5 transition-all group-hover:w-8"></div>

      <div class="w-6 h-0.5 bg-black transition-all group-hover:w-4 ml-auto"></div>

    </button>

  </nav>