<div id="menu-overlay" class="fixed inset-0 bg-white z-30 translate-x-full flex flex-col justify-center px-10">
    <div class="flex flex-col gap-8 text-4xl md:text-6xl font-studio text-right">
      <a onclick="navigate('home')" class="cursor-pointer hover:text-gray-400 transition-colors">Home</a>
      <a href="portfolio.html" class="cursor-pointer hover:text-gray-400 transition-colors">Portfólio</a>
      <a onclick="navigate('sobre-full')" class="cursor-pointer hover:text-gray-400 transition-colors">Sobre Nós</a>
      <a onclick="openOrcamentoForm()" class="cursor-pointer text-blue-600 hover:text-black transition-colors">Solicitar Orçamento</a>
    </div>
  </div>